/* nextui 적용 */
@tailwind base;
@tailwind components;
@tailwind utilities;

global.css html,
body {
  width: 390px;
  height: 844px;
  margin: 0 auto;
  padding: 0;
  overflow: auto;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
}
