.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: #e0f6f4;
}

.chatContainer {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 80px;
}

.senderLabel {
  font-weight: bold;
  color: #333;
  font-size: 14px;
  margin-left: 9px;
  margin-top: 10px;
}

.bubbleContainer_user {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  align-items: center;
}

.userText {
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 10px;
  max-width: 65%;
  color: #333;
  text-align: right;
}

.bubbleContainer1 {
  background-color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  max-width: 65%;
  margin-left: 10px;
  margin-top: 5px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.bubbleContainer3 {
  background-color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  max-width: 65%;
  margin-left: 10px;
  margin-top: 5px;
  padding: 13px;
  display: flex;
  flex-direction: column;
}

.textbox {
  padding: 10px 15px;
}

.title {
  margin-bottom: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.image {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 15px;
}

.text2,
.text3,
.text4,
.text5,
.text6,
.text7,
.text8 {
  margin: 5px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #000000;
}

.text3,
.text6,
.text7 {
  margin-bottom: 10px;
}

.bubbleContainer2 {
  background-color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  max-width: 65%;
  margin-left: 10px;
  margin-top: 10px;
  padding-bottom: 8px;
}

.buttonGroup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  padding: 10px;
}

.button {
  border: 0.6px solid #dfdfdf;
  border-radius: 20px;
  background-color: #f8f8f8;
  padding: 7px 13px;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.bubbleContainer_user {
  display: flex;
  justify-content: flex-end;
}

.userText {
  background-color: #74aa9d;
  border-top-left-radius: 15px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  max-width: 65%;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 12px;
  color: black;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11.5px;
  display: flex;
  align-items: center;
  text-align: center;
}

.yogoPlan_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  padding-bottom: 6px;
}

.yogoPlan_content {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11.5px;
  color: #000000;
  white-space: pre-line;
  line-height: 1.5;
  margin-bottom: 5px;
}

.inputContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 7px;
  background-color: white;
}

.inputWrapper {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding: 5px;
}

.inputField {
  width: 350px;
  border-radius: 15px;
  background-color: white;
}

.iconContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  right: 15px;
}

.sendIcon {
  margin-bottom: 5px;
}

/* 시간 텍스트 - 챗봇 메시지 오른쪽 아래 */
.timeStampBot {
  font-size: 11px;
  color: gray;
  text-align: right;
  align-self: flex-end;
  margin-top: -18px;
  margin-right: 70px;
}

/* 시간 텍스트 - 사용자 메시지 오른쪽 */
.timeStampUser {
  font-size: 11px;
  color: gray;
  margin-right: 8px;
  align-self: flex-end;
  text-align: right;
}
